.dark-blue {
    background-color: #142843;
}
.mid-blue {
    background-color: #487A90
}
.light-blue {
    background-color: #9CA9B1;
}
.dark-sand {
    background-color: #D0836E;
}
.mid-sand {
    background-color: #E5C4AB;
}
.light-sand {
    background-color: #F4E3D7;
}

.calendar-day {
    background-color: white;
    width: 250px;
    height: 30vh;
    border-radius: 15%;
    box-shadow: 0px 10px 13px -7px #000000, 3px 3px 50px 5px rgba(121,121,121,0.25);
}

#calendar-div{
    height: 60%;
}

#recipe-div{
    height: 40%;
}

#calendar-wrapper {
    width: 80%;
    margin-left: 10%;
    background-color: pink;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}