.dark-blue {
    background-color: #142843;
}
.mid-blue {
    background-color: #487A90
}
.light-blue {
    background-color: #9CA9B1;
}
.dark-sand {
    background-color: #D0836E;
}
.mid-sand {
    background-color: #E5C4AB;
}
.light-sand {
    background-color: #F4E3D7;
}

#calendar-div{
    height: 60%;
}

#recipe-div{
    height: 40%;
}